GOOGLE_API_KEY=
CONFLUENCE_BASE_URL="https://luxofons.atlassian.net/wiki"
CONFLUENCE_USERNAME="luxofons@gmail.com"
CONFLUENCE_API_TOKEN=""
JIRA_BASE_URL="https://luxofons.atlassian.net"
JIRA_USERNAME="luxofons@gmail.com"
JIRA_API_TOKEN=""
JIRA_EXPAND_FIELDS="description,comment,attachment,worklog,issuelinks,subtasks,changelog,votes,watches"

# Enable commit extraction
BITBUCKET_USERNAME="tcbs-funji-admin"
BITBUCKET_API_TOKEN=""
BITBUCKET_WORKSPACE="funji-tcbs"
JIRA_USE_BITBUCKET="true"
BITBUCKET_REPOSITORIES="onestudy-server"
BITBUCKET_EMAIL=luxofons@gmail.com
BITBUCKET_APP_PASSWORD=
BITBUCKET_BASE_URL=https://api.bitbucket.org/2.0